<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="2" parallel="tests">

    <parameter name="appURL" value="https://www.gmail.com/" />
    <test name="User Tests">
        <classes>
            <class name="UI_testing.TestLoginAndSendLetter" />
        </classes>
    </test>
    <test name="API Tests">
        <classes>
            <class name="API_testing.RestAssuredTestArticle" />
        </classes>
    </test>

</suite>